#forecastRow {
    border-radius: 20px;
}

#weatherBox {
    border-radius: 20px;
}

#forecastBox0, 
#forecastBox1,
#forecastBox2,
#forecastBox3,
#forecastBox4 {
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}



