h3 {
    font-size: 20px;
    text-align: center;
}



#forecastRow {
    border-radius: 20px;
}

#weatherBox {
    border-radius: 20px;
    text-align: center;
}

#forecastBox0, 
#forecastBox1,
#forecastBox2,
#forecastBox3,
#forecastBox4 {
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(62, 33, 225, 0.4);
}

#today {
    padding-top: 20px;
}

